@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background-color: #CCCCCC;
    width: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
    /* padding: 2% 3%; */
    max-width: 1400px;
}


/*Шапка*/

header {
    width: 100%;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header img {
    width: 47px;
    height: 47px;
}

header nav {
    width: 70%;
}

header nav ul {
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

header nav ul li {
    display: inline-block;
}

header nav ul li.active {
    background: #A4A4A4;
    padding: 1px 11px;
    border-radius: 5px;
}

header nav ul li:not(.active) a {
    padding: 1px 11px;
}

header nav ul li a {
    color: #fff;
}

header nav ul li:not(.active) a:hover {
    background: #A4A4A4;
    border-radius: 5px;
    transition: all 500ms ease;
}

.btn--game>a {
    color: white;
}

.btn--game>a {
    display: block;
    background: #A4A4A4;
    padding: 11px 19px;
    border-radius: 5px;
    transition: all 500ms ease;
}

.btn--game>a:hover {
    transform: scale(1.1);
}

/* меню */

#menu {
    float: right;
}

#menu li {
    display: inline-block;
    margin: 0 25px;
    align-content: center;
}

#menu a {
    /* letter-spacing: 1px; */
    /* font-weight: 700; */
    display: block;
    line-height: 40px;
}

#menu li:last-child {
    margin-right: 0;
}

#menu.active {
    max-height: 123px;
}

/* кнопка переключения меню, появляющаяся при ширине 768px */
.nav-toggle {
    display: none;
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background: #968e85;
    cursor: pointer;
}

.nav-toggle span {
    display: block;
    position: absolute;
    top: 19px;
    left: 8px;
    right: 8px;
    height: 2px;
    background: white;
}

.nav-toggle span:before,
.nav-toggle span:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
}

.nav-toggle span:before {
    top: -10px;
}

.nav-toggle span:after {
    bottom: -10px;
}

/*Блок с изображеним игры*/

.game {
    width: 100%;
    margin-bottom: -10px;
}

/*Об игре*/

.about--game {
    width: 90%;
    padding: 100px 0;
    color: black;
}

.about--game h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.about--game p {
    padding: 25px 0;
    font-size: 20px;
    font-weight: 500;
}

/*Локации*/

.location {
    padding: 50px 0;
    color: black;
}

.location>h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

/*Отзывы*/

.reviews {
    padding: 100px 0;
}

.reviews h2 {
    color: black;
    margin-bottom: 100px;
    font-size: 48px;
    font-weight: 600;
}

.reviews .reviews--blocks {
    color: black;
    display: flex;
    justify-content: space-between;
}

.reviews .reviews--blocks .block {
    background-color: #A4A4A4;
    width: 400px;
    height: 450px;
    border-radius: 40px;
}

.reviews .reviews--blocks .block img {
    display: block;
    margin: 0 auto;
    transform: translateY(-50px);
}

.reviews .reviews--blocks .block .block--text {
    margin-left: 40px;
}

.reviews .reviews--blocks .block h3 {
    font-size: 30px;
}

.reviews .reviews--blocks .block p {
    font-size: 24px;
    margin-top: 10px;
}

.reviews .reviews--blocks .block h5 {
    font-size: 24px;
    margin-top: 10px;
}

/*Футер*/

footer {
    color: black;
    padding: 20px 0;
}

footer .footer--block {
    display: flex;
    justify-content: space-between;
}

footer .footer--block img {
    width: 43px;
    height: 43px;
}

footer .footer--block p {
    width: 300px;
    text-align: right;
}

footer .footer--block h4 {
    font-weight: 700;
    font-size: 29px;
}

footer .footer--block ul {
    list-style: none;
}

footer .footer--block ul li {
    margin-top: 8px;
    text-align: center;
}

footer .footer--block ul li a {
    color: black;
}

footer .footer--block ul li a:hover {
    text-decoration: underline;
}

footer .footer--block .contact--with--us p {
    margin: 8px 0;
}

footer .footer--block .contact--with--us--h4 {
    text-align: right;
}

footer hr {
    margin: 30px 0;
    border: 5;
    height: 0.6px;
    background: #ccc;
}

footer>p {
    text-align: center;
}

@media (max-width: 768px) {

    .about--game {
        width: 80%;
    }

    .btn--game>a {
        background: none;
    }

    /* header nav {
        width: 10%;
    } */

    .reviews--blocks {
        flex-wrap: wrap;
        align-content: center;
        gap: 15px 15px;
    }

    .block {
        width: 40%;
    }

    .nav-toggle {
        display: block;
    }

    header {
        padding: 10px 0;
    }

    .footer--block {
        flex-wrap: wrap;
        justify-content: none;
    }

    /* скрываем верхнее меню, отменяем обтекание, позиционируем его, сместив на высоту шапки сайта */
    #menu {
        max-height: 0;
        background: #565961;
        float: none;
        position: absolute;
        overflow: hidden;
        top: 60px;
        right: 0;
        left: 0;
        margin: 0;
        padding: 0;
        z-index: 3;
    }

    /* делаем элементы списка блочными, чтобы они располагались друг под другом */
    #menu li {
        display: block;
        text-align: center;
        /* border-bottom: 1px solid #EBEBE3; */
        margin-right: 0;
    }

    .footer--block {
        text-align: center;
        flex-direction: column;
        align-content: center;
        gap: 15px 0;
    }

    footer .footer--block .contact--with--us--h4 {
        text-align: center;
    }

    footer .contact--with--us > p {
        text-align: center;
    }
}

@media (max-width: 425px) {

    .info--words {
        flex-direction: column;
        width: 70%;
        display: flex;
    }

    .reviews--blocks {
        flex-direction: column;
    }

    .block {
        width: 70%;
    }

}