@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background-color: #CCCCCC;
    width: 100%;
}

.container {
    width: 1400px;
    margin: 0 auto;
}


/*Шапка*/

header {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header img {
    width: 47px;
    height: 47px;
}

header nav {
    width: 50%;
}

header nav ul {
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

header nav ul li {
    display: inline-block;
}

header nav ul li.active {
    background: #A4A4A4;
    padding: 11px 19px;
    border-radius: 5px;
}

header nav ul li:not(.active) a {
    padding: 11px 19px;
}

header nav ul li a {
    color: #fff;
}

header nav ul li:not(.active) a:hover {
    background: #A4A4A4;
    border-radius: 5px;
    transition: all 500ms ease;
}

header>span>a {
    color: white;
}

header>span.btn--game>a {
    display: block;
    background: #A4A4A4;
    padding: 11px 19px;
    border-radius: 5px;
    transition: all 500ms ease;
}

header>span.btn--game>a:hover {
    transform: scale(1.1);
}

/*Блок с изображеним игры*/

.game {
    width: 100%;
    margin-bottom: -10px;
}

.game h1 {
    font-size: 70px;
    font-weight: 700;
    font-style: italic;
    text-transform: capitalize;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Об игре*/

.about--game {
    padding: 100px 0;
    color: black;
}

.about--game h2 {
    font-size: 40px;
    font-weight: 700;
}

.about--game p {
    padding: 25px 0;
    font-size: 20px;
    font-weight: 500;
}

/*Локации*/

.location {
    padding: 50px 0;
    color: black;
}

.location>h2 {
    text-align: left;
    font-size: 40px;
    font-weight: 700;
}

/*Отзывы*/

.reviews {
    padding: 100px 0;
}

.reviews h2 {
    color: black;
    margin-bottom: 100px;
    font-size: 48px;
    font-weight: 600;
}

.reviews .reviews--blocks {
    color: black;
    display: flex;
    justify-content: space-between;
}

.reviews .reviews--blocks .block {
    background-color: #A4A4A4;
    width: 400px;
    height: 450px;
    border-radius: 40px;
}

.reviews .reviews--blocks .block img {
    display: block;
    margin: 0 auto;
    transform: translateY(-50px);
}

.reviews .reviews--blocks .block .block--text {
    margin-left: 40px;
}

.reviews .reviews--blocks .block h3 {
    font-size: 30px;
}

.reviews .reviews--blocks .block p {
    font-size: 24px;
    margin-top: 10px;
}

.reviews .reviews--blocks .block h5 {
    font-size: 24px;
    margin-top: 10px;
}

/*Футер*/

footer {
    color: black;
    padding: 20px 0;
}

footer .footer--block {
    display: flex;
    justify-content: space-between;
}

footer .footer--block img {
    width: 43px;
    height: 43px;
}

footer .footer--block p {
    width: 300px;
}

footer .footer--block h4 {
    font-weight: 700;
    font-size: 29px;
}

footer .footer--block ul {
    list-style: none;
}

footer .footer--block ul li {
    margin-top: 8px;
}

footer .footer--block ul li a {
    color: black;
}

footer .footer--block ul li a:hover {
    text-decoration: underline;
}

footer .footer--block .contact--with--us p {
    margin: 8px 0;
}

footer hr {
    margin: 30px 0;
    border: 5;
    height: 0.6px;
    background: #ccc;
}

footer>p {
    text-align: center;
}